<footer class="navbar fixed-bottom navbar-dark bg-purple text-light">
  <div class="ms-2">@await Component.InvokeAsync("MOD")</div>
  <div class="me-2">&copy; Sports Store -- @DateTime.Now.Year</div>
</footer>